* {
  font-family: 'Courier New', Courier, monospace;
}

h1 { 
  text-align: top;
  text-align: center;
  font-size: 72px;
  font-style: italic;
}

p {
  font-size: 36px;
  font-weight: bold;
}


td {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 64px;
}

.current-value {
  font-size: 86px;
  font-weight: bold;
}

table,th,td {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 8px solid black;
  border-radius: 12px;
}

#history_table {
    border-collapse: collapse;
    text-align: center;
    margin: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 8px solid black;
    border-radius: 12px;
  }

nav {
  width: 100px;
  border: 8px solid black;
  border-radius: 12px;
  padding: 100px;
  margin: auto;
}

.login-box {
  text-align: center;
  font-size: 36px;
}

input {
  font-size: 48px;
  font-weight: bold;
}   