* {
  background-color:darkgray;
}

.value-good {
  background-color: rgba(0, 0, 255, 0.5);
}

.value-mid {
  background-color: rgba(255, 255, 0, 0.5);
}

.value-bad {
  background-color: rgba(255, 0, 0, 0.5);
}

.nav-bar {
    background-color:black;
    color: white;
    margin: 0%;
    padding: 0%;
    border:black;
}