/*Page Formatting*/
.mainsplit {
  float:left;
  width:50%;
}

.timesplit {
  float:left;
  width:fit-content;
  margin: 10px;
}

.row {
  display: flex;
}

/*Navigation bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 32px;
  font-weight: bold;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: dimgray;
  color: white;
}



input {
  margin: 5px;
  font-size: 72px;
  font-weight: bold;
  border: 8px solid;
  border-radius: 12px;
}
button {
  right:2px;
  margin: 5px;
  font-size: 72px;
  font-weight: bold;
  border: 8px solid;
  border-radius: 12px;
}

select {
    margin: 5px;
    font-size: 72px;
    font-weight: bold;
    border: 8px solid;
    border-radius: 12px;
  }